---
---

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic,400italic);
@import 'variables';

body {
  background-color: #333;
  color: #efe;
  font-size: 24px;
  a {
    color: #efe;
  }
  #search-results {
    h3, p {
      font-size: 1.25rem;
      &.intro {
        font-family: $title-font;
      }
    }
    h3 {
      font-size: 1.1rem;
      font-weight: 400;
      font-family: $body-font;
    }
  }
  #search {
    form {
      &.full-screen {
        height: 100%;
      }
      display: flex;
      align-items: center;
      justify-content:center;
      .input-box {
        margin: 0 auto;
        #search-query {
          font-size: 1.25rem;
          font-family: $title-font;
          text-rendering: optimizeLegibility;
          &:focus {
            outline : 0;
            border:none;
          }
          background-color: #333;
          color: #efe;
          border : none;
          &::-webkit-input-placeholder {
            color: #efe;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

