---
---

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic,400italic);
@import 'variables';

body {
  .hide {
    opacity: 0;
  }
  text-size-adjust: 100%;
  background-color: #333;
  color: #efe;
  font-size: 24px;
  a {
    color: #efe;
  }
  #search-results {
    h3, p {
      font-size: 1.25rem;
      &.intro {
        font-family: $title-font;
      }
    }
    h3 {
      font-size: 1.1rem;
      font-weight: 400;
      font-family: $body-font;
    }
  }
  #search {
    &.full-screen {
      height: 100%;
    }
    display: flex;
    align-items: center;
    justify-content:center;
    .search-box {
      font-family: $title-font;
      text-rendering: optimizeLegibility;
      form {
        margin:0;
        .input-box {
          .typed-cursor {
            opacity: 0;
          }
          line-height: 1.5;
          margin: 5px auto;
          padding: 0.5rem 0.3rem;
          &.focus {
            box-shadow: 0px 0px 10px 3px rgba(238,255,238, 0.66);
          }
          #search-query {
            font-size: 1.25rem;
            &:focus {
              outline : 0;
              border:none;
            }
            background-color: #333;
            color: #efe;
            border : none;
            &::-webkit-input-placeholder {
              color: #efe;
              text-decoration: underline;
            }
          }
        }
      }
      .hint {
        transition: opacity 1s;
        font-size: 0.75rem;
        padding-left: 1rem;
        
        .hint-keywords {
          cursor: pointer;
          color: #aba;
        }
      }
    }
  }
}

