---
layout: page
title : Blogs
header : Blogs lor
---
<p class="description">My blog posts organized in categories, recently I also published my article on <a href='https://medium.com/@gilbertwat'>medium</a></p>
{% for category in site.categories %}
  <div class="catbloc" id="{{ category | first | remove:' ' }}">
    <h2>{{ category | first }}</h2>

    <ul>
      {% for posts in category %}
        {% for post in posts %}
          {% if post.url %}
          <li>
          <time>{{ post.date | date: "%-d %b %Y" }}</time> - 
          <a href="{{ post.url }}">
          {{ post.title }}
          </a>
          </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endfor %}
