---
---
@import 'variables';

body {
  font-family: $body-font;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 2px;

  background-color: $text-color;

  &.main {
    background-color: $background-color;
    color: $text-color;
    h1,h2,h3,h4,h5,h6 {
      color: $main-color;
    }
    a {
      color: $link-color;
    }
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: $title-font;
    margin:2rem 0 0 0;
  }
  h1 {
    font-size: floor((1.44rem * 1.44) * 100) / 100;
    margin-top:((floor((1.44rem * 1.44) * 100) / 100) + 2);
  }
  h2 {
    font-size: 1.44rem;
  }

  h3,h4,h5,h6 {
    font-size: 1rem;
  }

  i {
    letter-spacing: 2.8px;
  }

  a {
    letter-spacing: 2px;
    text-decoration:none;
  }
  .container {
    .cover {
      background: url('/assets/images/cover.png') center center no-repeat;
      min-width: 100%;
      height: 480px;
    }
    @media (min-width: 641px) {
      margin: 0 auto;
      padding: 0 4rem;
      max-width: 960px;
    }
  }

  img {
    object-fit:cover;
    max-width: 100%;
    margin:1rem auto;
    &.portrait {
      @media (min-width: 641px) {
        max-width: 320px;
        margin: 3rem;
        float: left;
      }
    }
  }

  #disqus_thread {
    margin:3rem 0;
  }

  #mc_embed_signup {
    max-width: 640px;
    margin: 3rem auto;
    .mc-field-group {
      margin-top:1rem;
    }
    #mc-embedded-subscribe-form div.mce_inline_error.mce_inline_error {
      background: transparent;
    }
    #mc-embedded-subscribe {
      font-size: 20px;
      background: $highlight-color;
      line-height: 24px;
      padding:0.5rem 1rem;
      height: 24px + 20px *0.5 * 2;
    }
  }

  nav {
    font-family: $title-font;
    text-align:center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    .nav-item {
      &:last-child {
        margin-right: 0px;
      }
      margin-right: 1.5rem;
    }
  }
  footer {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .main-page {
    .latest-post {
      margin: 4rem 0;
    }
  }
  .default {
    nav {
      margin-top:1.44rem;
    }
  }
  input {
    font-family: "Baskerville", "Libre Baskerville", serif;
    font-size: 20px;
  }

  .post {
    .post-date-author {
      margin-top: 1rem;
    }
  }
  ul,ol {
    -webkit-padding-start: 1em;
    -moz-padding-start: 1em;
    li {
      margin-top:0.44rem;
      ul li {
        margin-top:0rem;
      }
    }
  }
  pre {
    font-size: 0.69rem;
  }
  .job {
    margin-top:1rem;
    .job-header {
      span.title {
        font-size: 1.44rem;
      }
      margin-bottom: 0;
    }
    ul.outmost {
      margin-top:0.5rem;
    }
  }
  img.center {
    display: block;
    margin: 0 auto;
  }
}

@media print {
  body {
    font-size: 10pt;
    line-height: 1.3;
    color: #111;
    background-color: #fff;
  }
  h1.page-title,h1.post-title,h1.post-title a,h2 {
    font-weight : 700;
    color: #111;
  }
  em,strong {
    font-weight: 400;
    color: #999;
  }
  a { 
    color: #999;
  }
  ul,ol {
    -webkit-padding-start: 1.5cm;
    -moz-padding-start: 1.5cm;
    margin-left: 0.1cm;
  }

  @page {
    margin: 1.5cm auto;
  }

  .hidden-print {
    display: none;
  }
  .page-break {
    page-break-before: always;
  }
}

