$title-font: "Futura", 'Oswald', san-serif;
$body-font: "Baskerville", 'Libre Baskerville', serif;

$main-color : #D6DF28;
$background-color : #161616;
$alt-color: #F0EA44;
$highlight-color: #502C89;
$highlight-alt-color: #744E9F;
$highlight-alt-color-2: #B480FF;
$text-color: #FEFEFE;
$link-color: #FFFFD1;

