---
layout: archive
---

{{ content }}

{%- assign posts = site.posts -%}



{%- if page.entries_layout == "grid" -%}
  <div class="entries-{{ page.entries_layout }}">
    {%- for post in posts -%}
      {% include archive-single.html type="grid" %}
    {%- endfor -%}
  </div>
{%- else -%}
  <div class="entries-{{ page.entries_layout | default: 'list' }}">
    {%- for post in posts -%}
      {% include archive-single.html type="list" %}
    {%- endfor -%}
  </div>
{%- endif -%}

{% include paginator.html %}
