<html lang='en'>
  <head>
    <title>{{ site.title }} &middot; {{ site.tagline }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='/public/css/main.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body class="main">
    <div class="container">
      {{content}}
      {% include nav.html %}
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
