---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date-author">{{ page.date | date_to_string }} by {{ page.author }}</div>
  {{ content }}
  <div class="tags"><hr>Tagged in:
    {% for tag in page.tags %}
      {% if tag == page.tags.first %}
        <i>{{tag}}</i>
      {% else %}
        | <i>{{tag}}</i>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% include subscription_form.html %}
{% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
    /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
      */
    var disqus_config = function () {
      this.page.url = "{{ site.url }}{{ page.url }}";
      this.page.identifier = "{{ site.url }}{{ page.url }}";
      this.page.title = "{{ page.title }}";
    };
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
      var d = document, s = d.createElement('script');
      s.src = '//gilbertinsoftware.disqus.com/embed.js'; 
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endif %}
